# dependencies
node_modules/
venv/
__pycache__/
*.pyc
.env

# env files
.env
.env.local
.env.*   # catches all env variants

# frontend
.next/
out/

# backend


# logs
*.log

# OS
.DS_Store
Thumbs.db
